.login_image
{
    box-align: center;
    display:flex;
    width:100px;
    object-fit: contain;
}
.login
{
    background-color:  white;
    height:100vh;
    display: flex;
    border-color: #a88734;
    align-content: center;
}
.login_container>h1{
    font-weight:500;
    margin-bottom:20px;

}
.fakeAccound
{
    display: flex;
    background-color: #f0c14b;
    border:1px solid;
    border-color:  #a88734 #9c7e31 #846a29;

}
.signin
{
    background-color: #f0c14b;
    border:1px solid;
    border-color:  #a88734 #9c7e31 #846a29;
}
.login_container>h5{
    font-weight:2000;
    margin-bottom:20px;

}
.login_container
{
    width:300px;
    flex-direction: column;
    display:flex;
    padding:20px;
    border: 1 px solid;
    border-color: #a88734;
    align-content: center;

}
form{
    border: 1 px solid;
    border-color: #a88734;
}